@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";



.template_thumbs li {
  display: inline-block;
width: 150px;
text-align: center;
list-style: none;
padding: 10px;
  }
  .template_thumbs
  {
    padding: 0px;
  }
  .template_thumbs li img {
    height: 150px;
    margin-bottom: 10px;}

    .template_thumbs li.selected {
    border: 2px solid #007bff;
    padding: 10px;
    box-shadow: 5px 1px 7px rgba(0,0,0,0.3);
}

.ui-calendar
{
  width: 100% !important;
}
.ui-inputtext {
    height: 40px;
    width: 100%;
}


